<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.jeeshop.biz.order.client.OrderPayMapper" >
  <resultMap id="BaseResultMap" type="net.jeeshop.biz.order.model.OrderPay" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_account" property="createAccount" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_account" property="updateAccount" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="member_id" property="memberId" jdbcType="BIGINT" />
    <result column="order_num" property="orderNum" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="request_num" property="requestNum" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DOUBLE" />
    <result column="pay_status" property="payStatus" jdbcType="VARCHAR" />
    <result column="payment_type" property="paymentType" jdbcType="VARCHAR" />
    <result column="payment_num" property="paymentNum" jdbcType="VARCHAR" />
    <result column="payment_time" property="paymentTime" jdbcType="TIMESTAMP" />
    <result column="title" property="title" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, create_account, create_time, update_account, update_time, member_id, order_num, 
    order_id, request_num, amount, pay_status, payment_type, payment_num, payment_time, 
    title
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="net.jeeshop.biz.order.model.OrderPayExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ord_order_pay
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ord_order_pay
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ord_order_pay
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="net.jeeshop.biz.order.model.OrderPay" >
    insert into ord_order_pay (id, create_account, create_time, 
      update_account, update_time, member_id, 
      order_num, order_id, request_num, 
      amount, pay_status, payment_type, 
      payment_num, payment_time, title
      )
    values (#{id,jdbcType=BIGINT}, #{createAccount,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateAccount,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{memberId,jdbcType=BIGINT}, 
      #{orderNum,jdbcType=VARCHAR}, #{orderId,jdbcType=BIGINT}, #{requestNum,jdbcType=VARCHAR}, 
      #{amount,jdbcType=DOUBLE}, #{payStatus,jdbcType=VARCHAR}, #{paymentType,jdbcType=VARCHAR}, 
      #{paymentNum,jdbcType=VARCHAR}, #{paymentTime,jdbcType=TIMESTAMP}, #{title,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="net.jeeshop.biz.order.model.OrderPay" >
    insert into ord_order_pay
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createAccount != null" >
        create_account,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateAccount != null" >
        update_account,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="orderNum != null" >
        order_num,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="requestNum != null" >
        request_num,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="payStatus != null" >
        pay_status,
      </if>
      <if test="paymentType != null" >
        payment_type,
      </if>
      <if test="paymentNum != null" >
        payment_num,
      </if>
      <if test="paymentTime != null" >
        payment_time,
      </if>
      <if test="title != null" >
        title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createAccount != null" >
        #{createAccount,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAccount != null" >
        #{updateAccount,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=BIGINT},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="requestNum != null" >
        #{requestNum,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DOUBLE},
      </if>
      <if test="payStatus != null" >
        #{payStatus,jdbcType=VARCHAR},
      </if>
      <if test="paymentType != null" >
        #{paymentType,jdbcType=VARCHAR},
      </if>
      <if test="paymentNum != null" >
        #{paymentNum,jdbcType=VARCHAR},
      </if>
      <if test="paymentTime != null" >
        #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.jeeshop.biz.order.model.OrderPayExample" resultType="java.lang.Integer" >
    select count(*) from ord_order_pay
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKey" parameterType="net.jeeshop.biz.order.model.OrderPay" >
    update ord_order_pay
    set create_account = #{createAccount,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_account = #{updateAccount,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      member_id = #{memberId,jdbcType=BIGINT},
      order_num = #{orderNum,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=BIGINT},
      request_num = #{requestNum,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DOUBLE},
      pay_status = #{payStatus,jdbcType=VARCHAR},
      payment_type = #{paymentType,jdbcType=VARCHAR},
      payment_num = #{paymentNum,jdbcType=VARCHAR},
      payment_time = #{paymentTime,jdbcType=TIMESTAMP},
      title = #{title,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>