<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.jeeshop.biz.finance.client.PaymentMapper" >
  <resultMap id="BaseResultMap" type="net.jeeshop.biz.finance.model.Payment" >
    <id column="id" property="id" />
    <result column="create_account" property="createAccount" />
    <result column="create_time" property="createTime" />
    <result column="update_account" property="updateAccount" />
    <result column="update_time" property="updateTime" />
    <result column="member_id" property="memberId" />
    <result column="order_id" property="orderId" />
    <result column="request_num" property="requestNum" />
    <result column="amount" property="amount" />
    <result column="remark" property="remark" />
    <result column="payment_status" property="paymentStatus" />
    <result column="refund_status" property="refundStatus" />
    <result column="refunded_amount" property="refundedAmount" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, create_account, create_time, update_account, update_time, member_id, order_id, 
    request_num, amount, remark, payment_status, refund_status, refunded_amount
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="net.jeeshop.biz.finance.model.PaymentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fin_payment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from fin_payment
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from fin_payment
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="net.jeeshop.biz.finance.model.Payment" useGeneratedKeys="true" keyProperty="id" >
    insert into fin_payment (create_account, create_time, update_account, update_time, member_id, 
      order_id, request_num, amount, remark, payment_status, refund_status, 
      refunded_amount)
    values (#{createAccount}, #{createTime}, #{updateAccount}, #{updateTime}, #{memberId}, 
      #{orderId}, #{requestNum}, #{amount}, #{remark}, #{paymentStatus}, #{refundStatus}, 
      #{refundedAmount})
  </insert>
  <insert id="insertSelective" parameterType="net.jeeshop.biz.finance.model.Payment" useGeneratedKeys="true" keyProperty="id" >
    insert into fin_payment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="createAccount != null" >
        create_account,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateAccount != null" >
        update_account,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="requestNum != null" >
        request_num,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="paymentStatus != null" >
        payment_status,
      </if>
      <if test="refundStatus != null" >
        refund_status,
      </if>
      <if test="refundedAmount != null" >
        refunded_amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="createAccount != null" >
        #{createAccount},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="updateAccount != null" >
        #{updateAccount},
      </if>
      <if test="updateTime != null" >
        #{updateTime},
      </if>
      <if test="memberId != null" >
        #{memberId},
      </if>
      <if test="orderId != null" >
        #{orderId},
      </if>
      <if test="requestNum != null" >
        #{requestNum},
      </if>
      <if test="amount != null" >
        #{amount},
      </if>
      <if test="remark != null" >
        #{remark},
      </if>
      <if test="paymentStatus != null" >
        #{paymentStatus},
      </if>
      <if test="refundStatus != null" >
        #{refundStatus},
      </if>
      <if test="refundedAmount != null" >
        #{refundedAmount},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.jeeshop.biz.finance.model.PaymentExample" resultType="java.lang.Integer" >
    select count(*) from fin_payment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="net.jeeshop.biz.finance.model.Payment" >
    update fin_payment
    <set >
      <if test="createAccount != null" >
        create_account = #{createAccount},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="updateAccount != null" >
        update_account = #{updateAccount},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
      <if test="memberId != null" >
        member_id = #{memberId},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId},
      </if>
      <if test="requestNum != null" >
        request_num = #{requestNum},
      </if>
      <if test="amount != null" >
        amount = #{amount},
      </if>
      <if test="remark != null" >
        remark = #{remark},
      </if>
      <if test="paymentStatus != null" >
        payment_status = #{paymentStatus},
      </if>
      <if test="refundStatus != null" >
        refund_status = #{refundStatus},
      </if>
      <if test="refundedAmount != null" >
        refunded_amount = #{refundedAmount},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.jeeshop.biz.finance.model.Payment" >
    update fin_payment
    set create_account = #{createAccount},
      create_time = #{createTime},
      update_account = #{updateAccount},
      update_time = #{updateTime},
      member_id = #{memberId},
      order_id = #{orderId},
      request_num = #{requestNum},
      amount = #{amount},
      remark = #{remark},
      payment_status = #{paymentStatus},
      refund_status = #{refundStatus},
      refunded_amount = #{refundedAmount}
    where id = #{id}
  </update>
</mapper>