<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.jeeshop.biz.finance.client.PaymentItemMapper" >
  <resultMap id="BaseResultMap" type="net.jeeshop.biz.finance.model.PaymentItem" >
    <id column="id" property="id" />
    <result column="create_account" property="createAccount" />
    <result column="create_time" property="createTime" />
    <result column="update_account" property="updateAccount" />
    <result column="update_time" property="updateTime" />
    <result column="payment_type_id" property="paymentTypeId" />
    <result column="payment_id" property="paymentId" />
    <result column="payment_type" property="paymentType" />
    <result column="payment_num" property="paymentNum" />
    <result column="payment_status" property="paymentStatus" />
    <result column="amount" property="amount" />
    <result column="member_id" property="memberId" />
    <result column="response_num" property="responseNum" />
    <result column="response_time" property="responseTime" />
    <result column="payment_complete_date" property="paymentCompleteDate" />
    <result column="refunded_amount" property="refundedAmount" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, create_account, create_time, update_account, update_time, payment_type_id, payment_id, 
    payment_type, payment_num, payment_status, amount, member_id, response_num, response_time, 
    payment_complete_date, refunded_amount
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="net.jeeshop.biz.finance.model.PaymentItemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fin_payment_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from fin_payment_item
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from fin_payment_item
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="net.jeeshop.biz.finance.model.PaymentItem" useGeneratedKeys="true" keyProperty="id" >
    insert into fin_payment_item (create_account, create_time, update_account, update_time, payment_type_id, 
      payment_id, payment_type, payment_num, payment_status, amount, member_id, 
      response_num, response_time, payment_complete_date, refunded_amount)
    values (#{createAccount}, #{createTime}, #{updateAccount}, #{updateTime}, #{paymentTypeId}, 
      #{paymentId}, #{paymentType}, #{paymentNum}, #{paymentStatus}, #{amount}, #{memberId}, 
      #{responseNum}, #{responseTime}, #{paymentCompleteDate}, #{refundedAmount})
  </insert>
  <insert id="insertSelective" parameterType="net.jeeshop.biz.finance.model.PaymentItem" useGeneratedKeys="true" keyProperty="id" >
    insert into fin_payment_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="createAccount != null" >
        create_account,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateAccount != null" >
        update_account,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="paymentTypeId != null" >
        payment_type_id,
      </if>
      <if test="paymentId != null" >
        payment_id,
      </if>
      <if test="paymentType != null" >
        payment_type,
      </if>
      <if test="paymentNum != null" >
        payment_num,
      </if>
      <if test="paymentStatus != null" >
        payment_status,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="responseNum != null" >
        response_num,
      </if>
      <if test="responseTime != null" >
        response_time,
      </if>
      <if test="paymentCompleteDate != null" >
        payment_complete_date,
      </if>
      <if test="refundedAmount != null" >
        refunded_amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="createAccount != null" >
        #{createAccount},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="updateAccount != null" >
        #{updateAccount},
      </if>
      <if test="updateTime != null" >
        #{updateTime},
      </if>
      <if test="paymentTypeId != null" >
        #{paymentTypeId},
      </if>
      <if test="paymentId != null" >
        #{paymentId},
      </if>
      <if test="paymentType != null" >
        #{paymentType},
      </if>
      <if test="paymentNum != null" >
        #{paymentNum},
      </if>
      <if test="paymentStatus != null" >
        #{paymentStatus},
      </if>
      <if test="amount != null" >
        #{amount},
      </if>
      <if test="memberId != null" >
        #{memberId},
      </if>
      <if test="responseNum != null" >
        #{responseNum},
      </if>
      <if test="responseTime != null" >
        #{responseTime},
      </if>
      <if test="paymentCompleteDate != null" >
        #{paymentCompleteDate},
      </if>
      <if test="refundedAmount != null" >
        #{refundedAmount},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.jeeshop.biz.finance.model.PaymentItemExample" resultType="java.lang.Integer" >
    select count(*) from fin_payment_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="net.jeeshop.biz.finance.model.PaymentItem" >
    update fin_payment_item
    <set >
      <if test="createAccount != null" >
        create_account = #{createAccount},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="updateAccount != null" >
        update_account = #{updateAccount},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
      <if test="paymentTypeId != null" >
        payment_type_id = #{paymentTypeId},
      </if>
      <if test="paymentId != null" >
        payment_id = #{paymentId},
      </if>
      <if test="paymentType != null" >
        payment_type = #{paymentType},
      </if>
      <if test="paymentNum != null" >
        payment_num = #{paymentNum},
      </if>
      <if test="paymentStatus != null" >
        payment_status = #{paymentStatus},
      </if>
      <if test="amount != null" >
        amount = #{amount},
      </if>
      <if test="memberId != null" >
        member_id = #{memberId},
      </if>
      <if test="responseNum != null" >
        response_num = #{responseNum},
      </if>
      <if test="responseTime != null" >
        response_time = #{responseTime},
      </if>
      <if test="paymentCompleteDate != null" >
        payment_complete_date = #{paymentCompleteDate},
      </if>
      <if test="refundedAmount != null" >
        refunded_amount = #{refundedAmount},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.jeeshop.biz.finance.model.PaymentItem" >
    update fin_payment_item
    set create_account = #{createAccount},
      create_time = #{createTime},
      update_account = #{updateAccount},
      update_time = #{updateTime},
      payment_type_id = #{paymentTypeId},
      payment_id = #{paymentId},
      payment_type = #{paymentType},
      payment_num = #{paymentNum},
      payment_status = #{paymentStatus},
      amount = #{amount},
      member_id = #{memberId},
      response_num = #{responseNum},
      response_time = #{responseTime},
      payment_complete_date = #{paymentCompleteDate},
      refunded_amount = #{refundedAmount}
    where id = #{id}
  </update>
</mapper>