    .nav {
        list-style: none; margin:0; padding:0; cursor: pointer; font-size: 0;
    }
    .nav li {
        display: inline-block; font-size: 14px; line-height: 24px; padding: 0 15px;
    }
    .tab-content > .tab-pane {
        display: none;
    }
    .tab-content > .active {
        display: block;
    }

    .select_diy_link .ui-modal-dialog {
        width: 942px;
        height: 500px;
    }

    .btn-group {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      text-align: left;
    }
    .btn-group button {
      font-size: 12px;
      color: #111;
      border: 1px solid #ededed;
      background: white;
      line-height: 28px;
      color: #111111;
    }
    .btn-group button .caret {
      display: inline-block;
      width: 0;
      height: 0;
      margin: 0 5px;
      border-top: 4px solid;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
    }

    .dropdown-menu {
      padding: 5px 0;
    }
    .dropdown-menu li {
      padding: 0;
      height: auto;
    }
    .dropdown-menu >li >a {
      display: block;
      padding: 0px 10px;
    }
    .btn-group li a {
      font-size: 12px;
      line-height: 24px;
      color: #858585;
    }
    .btn-group li a:hover {
      color: #111;
    }
    .open>.dropdown-menu {
      display: block;
      width: 100%;
    }


/** 弹出tabs头 **/
ul.nav-tabs {
  width: 902px;
  line-height: 45px;
  height: 45px;
  border: 0;
  border-bottom: 1px solid #ededed;
  font-size: 0;
  padding-left: 40px;
}
ul.nav-tabs li {
  display: inline-block;
  height: 45px;
  width: 110px;
}
ul.nav-tabs li a {
  display: inline-block;
  border-bottom: 3px solid #fff;
  text-align: center;
  background: #fff;
  width: 110px;
  line-height: 42px;
  font-size: 14px;
  color: #666;
}
ul.nav-tabs li.active a {
  color: #111;
  border-bottom: 3px solid #fd4337;
}

/** 弹出tab商品列表 **/
.pop_hight {
  height: 450px;
}
.pop_pro_single,
.pop_cate_single,
.pop_notice_single,
.pop_diy_input {
    padding: 20px 20px 0 20px;
    overflow: hidden;
}
.pop_pro_single ul li {
  float: left;
  width: 392px;
  padding: 8px;
  margin: 5px 20px;
  border: 1px dotted #ededed;
}
.pop_pro_single ul li .img {
  float: left;
  width: 57px;
}
.pop_pro_single ul li .info {
  float: left;
  width: 320px;
  margin-left: 14px;
}
.pop_pro_single ul li .title {
  height: 36px;
  font-size: 12px;
  line-height: 18px;
  overflow: hidden;
  color: #858585;
  word-break: break-all;
}
.pop_pro_single ul li .price {
  margin-top: 5px;
  font-size: 12px;
  line-height: 18px;
  color: #111;
}
.pop_pro_single li.current {
  border: 1px solid #111;
}

/** 弹出tab分类列表 **/
.pop_cate_single .cate_list,
.pop_notice_single .notice_list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 840px;
}
.pop_cate_single .cate_list li,
.pop_notice_single .notice_list li {
  float: left;
  position: relative;
  width: 248px;
  margin: 15px;
  border: 1px solid #ededed;
  padding: 0;
}
.pop_cate_single .cate_list li a,
.pop_notice_single .notice_list li a {
  display: block;
  color: #111;
  text-align: center;
  line-height: 20px;
  padding: 20px;
  vertical-align: middle;
}
.pop_cate_single .cate_list li.current,
.pop_notice_single .notice_list li.current {
  border: 1px solid #111;
}
.pop_notice_single .notice_list li a {
  text-align: left;
  padding-bottom: 10px;
}
.pop_notice_single .notice_list li p {
  color: #999;
  font-size: 12px;
  padding-left: 20px;
  line-height: 16px;
  padding-bottom: 20px;
}

/*** 自定义链接 ***/
.pop_diy_input {
  padding-left: 100px;
  padding-right: 180px;
}
.pop_diy_input .diy_link_main {
  padding-top: 50px;
}
.pop_diy_input .btn_diyArea {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 100px;
}
.pop_diy_input .btn_diyArea .btn {
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  background: #fd4337;
  width: 140px;
  line-height: 36px;
  height: 44px;
  border: 1px solid #fd4337;
  color: #fff;
}
.pop_diy_input .btn_diyArea .btn_white {
  background: white;
  color: #858585;
  border: 1px solid #ccc;
  margin-right: 10px;
}
.pop_diy_input .err {
  color: red;
  font-size: 12px;
}
.pop_diy_input input {
  border: 1px solid #ccc;
  width: 600px;
  line-height: 40px;
  padding: 5px 10px;
  margin: auto;
}


.clr {
  clear: both;
  font-size: 0;
  line-height: 0;
  height: 0;
  overflow: hidden;
}

/* 翻页组件 */
.pagination_plus {
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -236px;
}
.pagination_plus .pagination-input-num {
  display: inline-block;
  width: 46px;
  height: 26px;
  margin: 0px 7px;
  padding: 0px;
  text-align: center;
  border: 1px solid #ededed;
}
.pagination_plus .pagination .pagination-turn a {
  cursor: pointer;
  display: inline-block;
  width: 78px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  margin-left: 18px;
  border: 1px solid #ededed;
}
.pagination_plus .pagination > ul,
.pagination_plus .pagination > li {
  display: inline-block;
  margin: 0 4px;
}
.pagination_plus .pagination .active a {
  color: #fff;
  background-color: #dfdfdf;
}
.pagination_plus .pagination a {
  display: block;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border: 1px solid #ededed;
  color: #666;
  cursor: pointer;
}

.pagination_plus .pagination_block,
.pagination_plus .pagination_block {
  display: inline-block;
}

.icon_close {
  display: block;
  width: 16px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  right: 10px;
  top: 18px;
  color: #666;
}
