.map_wrap {
    position: relative;
    height: 100%;
}
.map_wrap .hide{
    display: none;
}
.dcr-search-wrap{
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 8px 60px 8px 15px;
    background-color: #fff;
    border-bottom: 1px solid #d3d3d3;
    z-index: 100;
}
.dcr-search-wrap a{
   cursor: pointer;
}
.dcr-search-wrap.init-status{
    padding-right: 15px;
}

.dcr-search-wrap .dcr-search-bar {
    display: block;
    height: 30px;
    background-color: #ebebeb;
    padding-left: 10px;
    padding-right: 10px;
    color: #b4b4b4;
    font-size: 15px;
    line-height: 31px;
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dcr-search-wrap .dcr-search-bar .dcr-keyword {
    display: block;
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 0;
    font-size: 14px;
    line-height: 18px;
    background: 0 0;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    font-family: inherit;
    border: none;
}

.dcr-search-wrap.init-status .dcr-search-bar .dcr-keyword {
    text-align: left
}

.dcr-search-wrap .dcr-search-bar .dcr-keyword::-webkit-input-placeholder {
    background: url(https://d.weidian.com/images/decoration/searchbg.png) no-repeat left center;
    background-size: 80px 16px;
    color: gray
}

.dcr-search-wrap.init-status .dcr-search-bar .dcr-keyword::-webkit-input-placeholder {
    background: url(https://d.weidian.com/images/decoration/searchbg.png) no-repeat center center;
    background-size: 80px 16px
}

.dcr-search-wrap .dcr-submit,.dcr-search-wrap .dcr-cancle {
    position: absolute;
    top: 0;
    right: 0;
    width: 55px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    font-size: 16px;
    color: #0079ff;
    background-color: #fff
}

.dcr-search-wrap .dcr-clear-input {
    top: 11px;
    right: 60px;
    width: 34px;
    height: 26px;
    line-height: 26px;
    background: url(https://d.weidian.com/images/decoration/close.png) no-repeat center center;
    background-color: #ededed;
    background-size: 18px 18px;
    position: absolute;
    padding: 0;
    border: 0;
    font-size: 14px;
    border-radius: 4px;
    text-align: center;
    z-index: 2
}

.dcr-search-wrap.init-status .dcr-submit,.dcr-search-wrap.init-status .dcr-cancle,.dcr-search-wrap.init-status .dcr-clear-input {
    display: none
}
.dcr-load-wrap,.dcr-no-results{
    color: gray;
    padding: 20px 0;
    line-height: 24px;
    text-align: center;
    font-size: 14px;
}
.dcr-load-wrap .dcr-load-data {
    width: 90px;
    margin: 0 auto
}
.dcr-load-wrap img {
    margin-right: 12px;
    float: left;
    animation-duration: 1s;
    animation-name: common-widget-loading;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 3s;
    -webkit-animation-name: common-widget-loading;
    -webkit-animation-timing-function: ease-out-in;
    -webkit-animation-iteration-count: infinite
}
.dcr-mapContainer{
    width: 100%;
    height: 400px;
    border-bottom: 1px solid #d3d3d3;
    position: relative;
    z-index: 5;
    top: 0;
    left: 0
}
.map_wrap #mapContainer .marker {
    position: relative;
    top: 50%;
    left: 50%;
    width: 26px;
    height: 36px;
    margin-top: -28px;
    margin-left: -12px;
    z-index: 6
}

.map_wrap #mapContainer .marker img {
    z-index: 1;
    position: absolute
}

.map_wrap #mapContainer .marker i {
    width: 8px;
    height: 8px;
    background: url(https://d.weidian.com/images/decoration/plus.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    bottom: -4px;
    left: 50%;
    margin-left: -4.5px;
    z-index: 0;
    display: none
}

.map_wrap #loading{
    background: #FFF;
    width: 100%;
    height: 100%;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0
}
.map_wrap #loading img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    animation-duration: 1s;
    animation-name: common-widget-loading;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 5s;
    -webkit-animation-name: common-widget-loading;
    -webkit-animation-timing-function: ease-out-in;
    -webkit-animation-iteration-count: infinite
}
.dcr_map_item {
    padding-bottom: 10px;
    border-bottom: 1px solid #d3d3d3
}
.dcr-listContainer{
    width: 100%;
    height: 400px;
    overflow: hidden;
    background-color: #FFF;
}   
.map_wrap .poi-title {
    font-size: 14px;
    line-height: 27px;
    color: #333;
    font-weight: 400;
    display: block;
    width: 92%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}
.map_wrap .blue-txt {
    color: #0079ff!important;
    font-weight: 700!important
}
.map_wrap .poi-address {
    font-size: 12px;
    color: gray;
    height: 20px;
    line-height: 20px;
    margin: 0;
    width: 92%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block
}
.map_wrap .poi-latlng,.map_wrap .poi-city {
    line-height: 22px;
    display: none
}
.map_wrap .poi-list{
    list-style: none;
    width: 100%;
    text-align: left;
    margin: 0 0 0 15px;
    padding: 0 0 65px
}
.map_wrap .poi-list li {
    display: block;
    cursor: pointer;
    height: 59px;
    padding-top: 6px;
    position: relative;
}
.map_wrap .poi-list .active {
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url(https://d.weidian.com/images/decoration/currentPos.png) no-repeat right center;
    background-size: 16px 16px;
    position: absolute;
    right: 30px;
    top: 50%;
    margin-top: -8px
}
.map_wrap .poi-list li *,.active-pos * {
    pointer-events: none
}

.map_wrap .dcr-suggestion-wrap {
    position: absolute;
    top: 46px;
    bottom: 0;
    z-index: 7;
    width: 100%;
    background: #f6f6f6;
    overflow: hidden;
}
.map_wrap .dcr-suggestion-wrap .poi-list li {
    position: relative;
    display: block;
    padding-top: 8px;
    padding-left: 40px;
    border: none;
    background: url(https://d.weidian.com/images/decoration/search.png) no-repeat 10px 13px;
    background-size: 16px 16px;
    margin-left: -15px;
    height: 58px;
    overflow: hidden
}
.map_wrap .pagination_plus{
    margin-left: 0;
    left: 0;
    right: 0;
}





/*input,input[type=button],input[type=reset],input[type=submit],input[type=search],button,select {
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    font-family: inherit;
    border: none
}*/
/*
a,a:hover,a:active {
    text-decoration: none
}
*/
.bounceInDown {
    animation: bounceInDown 500ms infinite;
    animation-direction: alternate;
    -webkit-animation: bounceInDown 500ms infinite;
    -webkit-animation-direction: alternate
}

@-webkit-keyframes bounceInDown {
    0%,60%,75%,90%,100% {
        -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
        transition-timing-function: cubic-bezier(.215,.61,.355,1)
    }

    0% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }

    25% {
        -webkit-transform: translate3d(0,-30px,0);
        transform: translate3d(0,-10px,0)
    }

    50% {
        -webkit-transform: translate3d(0,-15px,0);
        transform: translate3d(0,-20px,0)
    }

    75% {
        -webkit-transform: translate3d(0,-4px,0);
        transform: translate3d(0,-10px,0)
    }

    100% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }
}

@keyframes bounceInDown {
    0%,60%,75%,90%,100% {
        -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
        transition-timing-function: cubic-bezier(.215,.61,.355,1)
    }

    0% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }

    25% {
        -webkit-transform: translate3d(0,-30px,0);
        transform: translate3d(0,-10px,0)
    }

    50% {
        -webkit-transform: translate3d(0,-15px,0);
        transform: translate3d(0,-20px,0)
    }

    75% {
        -webkit-transform: translate3d(0,-4px,0);
        transform: translate3d(0,-10px,0)
    }

    100% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }
}

@-webkit-keyframes common-widget-loading {
    0% {
        -webkit-transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg)
    }
}
